*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #B4B4B4;
    width: 100vw;
}

li {
    list-style: none;
}

a:link, a:visited, a:active {
text-decoration: none;
}

a {
    color: Black;
}

/*Empieza el navbar*/

.header_nav {

    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px 20px 0px 20px;
    padding: 30px;
}

.nav_menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #e5e5e5 solid 0.1px;
    border-radius: 5px;
    padding: 10px;
    order: 0;
}

.icon-menu {
    max-height: 50px;
    display: none;
}

.cbox_nav {
    display: none;
}

/*Termina el navbar*/

/*Empieza el Hero*/

.section-hero {
    /*background-color: #DE8000;*/
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px;
}

.article-hero1  {
    /*background-color: red;*/
    width: 100%;
    /*height: 600px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.article-hero2 {
    /*background-color: #DE8000;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
}

.title-hero {
    max-width: 90%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    gap: 30px;
}

.title-hero h2 {
    font-weight: 500;
    font-size: 3rem;
    width: 90%;
}

.title-hero p {
    max-width: 75% ;
    font-weight: 400;
    font-size: 0.8rem;
}

.btn-hero button {
    margin-right: 20px;
    padding: 15px 0px;
    width: 125px;
    border-radius: 5px;
    border: none;
}

.btn-hero-1 {
    background-color: #DE8000;
    color: white;
}

.contenedor-hero {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #E8E8E8;
    border-radius: 5px;
    color: black;
    gap: 50px;
    padding: 20px 10px;
    margin-right: 50px;
}

.contenedor-hero div {
    width: 10rem;
}

.contenedor-img1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.contenedor-img2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.img-hero1 { 
    width: 70%;
    border-radius: 10px;
}

.img-hero2 {
    width: 70%;
    border-radius: 10px;
}

.img-hero3 { 
    width: 70%; 
    border-radius: 10px;
}

.img-hero4 {
    width: 70%;
    border-radius: 10px;
}


/*Termina el Hero*/

/*Empieza la section2*/

.section2 {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 20px;
    padding: 0px 100px 100px;
}

#Exp {
    text-align: center;
}

.section2-cards {
    display: flex;
    justify-content: center;
}

.section2-cards-1, .section2-cards-2{
    transition:  0.3s ease;
    background-color: white;
    width: 350px;
    height: 450px;
    padding: 10px 0px;
    margin: 30px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow:0 2px 10px rgba(0,0,0,.3);
}

.h3-cards {
    padding: 15px 15px;
    font-weight: 500;
}

.div-cards {
    margin: 10px;
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.img_trabajo_2, .img_trabajo_3 {
    width: 350px;
    height: 230px;
}


/*Termina la section2*/

footer {
    width: 100%;
    background-color: #364552 solid 0.5px;;
    color:white;
    padding: 20px;
    margin-top: auto;
}

footer section {
    display: flex;
    justify-content: space-around;
}





@media  (max-width: 500px) {

.header_nav {
    display: flex;
    flex-direction: column;
}

.icon-menu {
    display: block;
}

.menu {
    background-color: #e08300;
    
    border-radius: 5px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    display: none;
}

.menu li{
    padding: 65px 0px;
    text-transform: uppercase;
}

.menu_a {
    color: white;
    font-weight: bold;
}

.cbox_nav:checked ~ .menu {
    display: block;
}

.title-hero h2 {
    font-weight: 300;
    font-size: 2.5rem;
    width: 100%;
}

.btn-hero button {
    margin-bottom: 10px;
}

/*Empieza el Hero*/

.section-hero {
    max-height: 1000px;
}

.title-hero {
    width: 100vw;
    margin-left: 0px;
    padding-top: 20px;
}

.title-hero p {
    /*background-color: #DE8000;*/
    max-width: 100% ;
    font-weight: 400;
    font-size: 1.2rem;
}

.contenedor-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
}


.article-hero2 {
    display: none;
}

/*Termina el Hero*/

/*Empieza la section2*/



.section2 {
    margin: -1px 20px;
    padding: 5px;
}

.section2-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.section2-cards-1, .section2-cards-2{
    align-items: center;
    width: 80vw;
    padding: 5px px;
    margin: 10px;
}

.img_trabajo_2, .img_trabajo_3 {
    width: 80vw;
    height: 230px;
}

/*Termina la section2*/
}